/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.image-info-container {
    display: flex;
    align-items: center;
}

.image-container {
    flex: 1;
    margin-right: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.info {
    flex: 2;
}

/* Navbar styles */
.navbar {
    background-color: #334e6d;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.navbar a:hover {
    color: #ffd700; /* Change color on hover */
}

/* Form styles */
.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container label {
    font-weight: bold;
}

.form-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.form-container input[type="submit"]:hover {
    background-color: #555; /* Change color on hover */
}


.contactcontainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

/* Contact Form */
.contact-form {
    margin-bottom: 20px;
    width: 100%; /* Ensure form takes full width of container */
    max-width: 400px; /* Limit form width */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 150px;
}

.contact-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
}

