<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Mart Prediction Result</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="navbar">
        <h1>Big Mart Sales Prediction</h1>
        <div>
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
            <a href="/predict">Predict</a>
        </div>
    </div>
    <div class="container">
        <div class="image-info-container">
            <div class="image-container">
                <img src="/static/bigmartimg.jpeg" alt="Big Mart Image">
            </div>
            <div class="info">
                <h2>Big Mart Sales Prediction</h2>
                <p>Predicting big mart sales is an ML project that involves using machine learning algorithms to analyze and predict the patterns in sales. Certain attributes of each product and store have been defined. The aim is to build a predictive model and predict the sales of each product at a particular outlet. Using this model, Big Mart will try to understand the properties of products and outlets which play a key role in increasing sales.</p>
            </div>
        </div>
        <!-- <h2>Big Mart Sales Prediction </h2>
        <p>Predictng big mart sales is an ML project that involves using machine learning
            algorithms to analyse and predict the palterns in sales. Cerlain attributes of each
            product and store have been defined. The aim is to build a predictive model and
            predict the sales of each product at a particular outlet. Using this model, Big Mart will
            try to understand the properties of products and outlets which play a key role in
            increasing sales.</p> -->
    </div>
</body>
</html>