<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Mart Prediction Result</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="navbar">
        <h1>Big Mart Sales Prediction</h1>
        <div>
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
            <a href="/predict">Predict</a>
        </div>
    </div>
    <div class="container">
        <h2>Big Mart Sales Prediction Result</h2>
        <p>The predicted sales value is: {{ output }}</p>
    </div>
</body>
</html>
